#
# Ignore emacs backup files
#
*~
\#*\#

#
# Ignore shell files
#
**/.profile
**/.bashrc
**/.cache
**/.workloads
**/.config
.ideas
.local
.vscode

#
# Ignore python-related files
#
**/__pycache__
**/.ipynb_checkpoints
**/.ipython
**/.jupyter
**/.python_history

#
# Ignore application specific files
#
**/*.mp4
**/profiles

venv/